{% load static %}
<!doctype html>
<html lang="en">
  
	{%  include 'base/head.html' %}
  <body>
    <div class="container">
        <h6 class="font-weight-bold ">
            Name: {{result.attendee_name}}<br>
            Age: {{result.attendee_age}}<br>
            Date: {{ result.timestamp }}<br>
            
          </h6>
          <button class="btn btn-xs btn-primary" onclick="window.print()">Print this page</button><br><br>
          <div class="row">
            <div class="col-md-5">
              <img src="{% static '/assets/img/brand-tagline.png' %}" class="navbar-brand-img" alt="...">
            </div>
            <div class="col-md-3 offset-md-4">
              <h2><b><a href="https://bhaavi.in">www.bhaavi.in</a></b></h2>
            </div>
          </div>
        <div class="row justify-content-center">
          <div class="col-16 col-md-10 col-lg-12">
            <div class="card card-border card-border-xl border-primary">
                <div class="card-body bg-black hljs">
                    <div class="text-center">
                    <h2 class="font-weight-bold ">
                        Report
                      </h2>
                    </div>
                    <p><i>Dear <b>{{user.full_name}}</b>,<br>
                        Congratulations! You have successfully completed the PICSET test.
                        This endeavor will help you to take the first step in transforming your dreams into reality. You have
                        been scientifically evaluated and the result will help you to become aware of your overall interest
                         and personality traits. Please be aware that this is not an absolute result, but an indication of
                          where you're strong. Further discussions with a Career mentor will help to guide you to the respective
                           streams.</i></p>

                           <h2><b>PICSET Result</b></h2>

                           <div class="row">
                            <div class="col">
                              <canvas id="myChart" ></canvas>
                              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                              <script>
                                var ctx = document.getElementById('myChart');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['Pragmatic', 'Industrious', 'Creative', 'Socialite', 'Explorer', 'Traditional'],
                                        datasets: [{
                                            label: '',
                                            data: [{{P}}, {{I}}, {{C}}, {{S}}, {{E}}, {{T}}],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                      tooltips: {
                                        enabled: false
                                    },
                                      legend: {
                                          display: false
                                              },
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                  display:false,
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                                </script>

                            </div>
                        </div><br>
                        <h2><b>Suggested professions as per PICSET</b></h2>

                        {% for professions in top %}

                        {% if professions.0 == 'P' %}

                            <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">
                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Pragmatic </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                          “Individuals high on Pragmatic value activities 
                                          in which they take good care of their property,
                                          improve their abilities and work with things to
                                          make them more practical and efficient. These people are often good at mechanical or athletic
                                          jobs. Prospective professions for Pragmatic people are...”
                                        </p>
                              
                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Agriculture</span></li>
                                         <li> <span class="h6 text-uppercase">Health Assistant</span></li>
                                         <li> <span class="h6 text-uppercase">Computers Technician, Software Tester</span></li>
                                         <li> <span class="h6 text-uppercase">Architect, Construction</span></li>
                                         <li> <span class="h6 text-uppercase">Mechanic/Machinist</span></li>
                                         <li> <span class="h6 text-uppercase">Engineering</span></li>
                                         <li> <span class="h6 text-uppercase">Food and Hospitality, Logistics Analyst</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% elif professions.0 == 'I' %}
                              <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">
                              

                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Industrious </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                            

                                          “These people like to work with others and enjoy
                                          persuading and and performing. Prospective professions
                                          for Industrious people are...”
                                        </p>
                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Fashion Merchandising</span></li>
                                         <li> <span class="h6 text-uppercase">Real Estate</span></li>
                                         <li> <span class="h6 text-uppercase">Marketing/Sales</span></li>
                                         <li> <span class="h6 text-uppercase">Law</span></li>
                                         <li> <span class="h6 text-uppercase">Political Science</span></li>
                                         <li> <span class="h6 text-uppercase">International Trade</span></li>
                                         <li> <span class="h6 text-uppercase">Customer Service</span></li>
                                         <li> <span class="h6 text-uppercase">Purchase</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% elif professions.0 == 'C' %}
                              <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">

                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Creative </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                          “They value activities where they appreciate beauty, where they show Artistic and emotional 
                                          sensitivity, appreciate music and arts. These people like to work in unstructured situations
                                           where they can use their creativity. Prospective professions for Creative people are...
                                          ”
                                        </p>
                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Graphic Designer</span></li>
                                         <li> <span class="h6 text-uppercase">Cosmetology</span></li>
                                         <li> <span class="h6 text-uppercase">Fine and Performing Arts</span></li>
                                         <li> <span class="h6 text-uppercase">Photography</span></li>
                                         <li> <span class="h6 text-uppercase">Radio and TV</span></li>
                                         <li> <span class="h6 text-uppercase">Interior Design</span></li>
                                         <li> <span class="h6 text-uppercase">Architecture,  Animator, commercial artist, arts professor,creative writer</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% elif professions.0 == 'S' %}
                              <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">

                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Socialite </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                          “They value activities where they can help others and appreciate the work of charitable service groups. Working with people in a friendly situation is important to such persons. These people like to work with other people,
                                          rather than things. Good college majors for
                                          Socialite people are...”
                                        </p>

                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Counseling</span></li>
                                         <li> <span class="h6 text-uppercase">Nursing</span></li>
                                         <li> <span class="h6 text-uppercase">Physical Therapy</span></li>
                                         <li> <span class="h6 text-uppercase">Travel</span></li>
                                         <li> <span class="h6 text-uppercase">Advertising</span></li>
                                         <li> <span class="h6 text-uppercase">Public Relations</span></li>
                                         <li> <span class="h6 text-uppercase">Teacher, Trainer, Librarian</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% elif professions.0 == 'E' %}
                              <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">

                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Explorer </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                          “These people like to watch, learn, analyze and solve
                                          problems. Good college majors for Explorers are...”
                                        </p>

                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Marine Biology</span></li>
                                         <li> <span class="h6 text-uppercase">Engineering</span></li>
                                         <li> <span class="h6 text-uppercase">Chemist</span></li>
                                         <li> <span class="h6 text-uppercase">Journalist, Statistician, Archeologist</span></li>
                                         <li> <span class="h6 text-uppercase">Medicine/Surgery</span></li>
                                         <li> <span class="h6 text-uppercase">Consumer Economics</span></li>
                                         <li> <span class="h6 text-uppercase">Psychology</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% else %}
                              <div class="card card-row shadow-light-lg">
                                <div class="row no-gutters">
                                 
                                  <div class="col-12 col-md-12 order-md-1">

                                    <!-- Body -->
                                    <div class="card-body">
                                        <h2 class="text-black text-center"><b>Traditional </b></h2>

                                      <blockquote class="blockquote mb-0 text-center">
                                        
                                        <!-- Text -->
                                        <p class="mb-5 mb-md-7 text-black">
                                          “They value activities in which they keep things tidy and do what they are expected to do.
                                           They prefer to be pre-planned in their work. These people are very detail oriented, organized
                                           and like to work with data. Prospective professions for Traditional people are...”
                                        </p>
                                        
                                        <!-- Footer -->
                                        <footer class="blockquote-footer text-left">
                                            <ul>
                                         <li> <span class="h6 text-uppercase">Accounting</span></li>
                                         <li> <span class="h6 text-uppercase">Court Reporting</span></li>
                                         <li> <span class="h6 text-uppercase">Insurance</span></li>
                                         <li> <span class="h6 text-uppercase">Administration</span></li>
                                         <li> <span class="h6 text-uppercase">Medical Records</span></li>
                                         <li> <span class="h6 text-uppercase">Banking</span></li>
                                         <li> <span class="h6 text-uppercase">Data Processing, Safety Inspector, Content Writer</span></li>

                                        </ul>
                                        </footer>
                              
                                      </blockquote>
                                    </div>
                              
                                  </div>
                              
                                </div>
                              </div>
                              {% endif %}
                              <br>

                        {% endfor %}
                    </div>
                <input type="hidden" id="result" value="{{ result.id }}"/>
                <div class="card-footer bg-black text-white">
                    Note: for further detailed discussion, please register online consultation with our expert mentors at "bhaavi.in"
                </div>
             </div>
             
          </div>
          <p> bhaaviconsultants@gmail.com   |   www.bhaavi.in   |   +91 79078 52804 (WhatsApp) </p>

        </div>
       
        <div id="google_translate_element"></div>

            <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
  
    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/libs/aos/dist/aos.js"></script>
    <script src="./assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="./assets/libs/countup.js/dist/countUp.min.js"></script>
    <script src="./assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="./assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="./assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="./assets/libs/quill/dist/quill.min.js"></script>
    <script src="./assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./assets/libs/typed.js/lib/typed.min.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="./assets/js/theme.min.js"></script>

      
  </body>
</html>