asgiref==3.2.7
beautifulsoup4==4.9.1
boto3==1.14.26
botocore==1.17.26
certifi==2020.6.20
chardet==3.0.4
Django==2.2.14
django-bootstrap-form==3.4
django-crispy-forms==1.9.1
django-helpdesk==0.2.21
django-markdown-deux==1.0.5
django-storages==1.9.1
docutils==0.15.2
email-reply-parser==0.5.9
html5lib==1.1
idna==2.10
jmespath==0.10.0
lxml==4.5.2
markdown2==2.3.9
mysqlclient==1.4.6
Pillow==7.2.0
PyPDF2==1.26.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
razorpay==1.2.0
reportlab==3.5.44
requests==2.24.0
s3transfer==0.3.3
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
webencodings==0.5.1
xhtml2pdf==0.2.4
