absl-py==0.9.0
altgraph==0.17
aniso8601==8.0.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.2.10
astor==0.8.1
async-generator==1.10
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bert-extractive-summarizer==0.4.2
bleach==3.1.5
blinker==1.4
blis==0.4.1
boto3==1.14.60
botocore==1.17.60
CacheControl==0.12.6
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreschema==0.0.4
cv==1.0.0
cymem==2.0.3
Cython==0.29.17
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.1.1
django-phonenumber-field==5.0.0
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
djangorestframework==3.11.1
docutils==0.15.2
entrypoints==0.3
ete3==3.1.1
filelock==3.0.12
firebase-admin==4.4.0
flake8==3.8.3
Flask==1.1.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.7
future==0.18.2
gast==0.2.2
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.1
google-cloud-firestore==1.9.0
google-cloud-storage==1.31.1
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
iniconfig==1.0.1
install==1.3.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
macholib==1.14
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.4.0
msgpack==1.0.0
murmurhash==1.0.2
mysqlclient==2.0.1
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
nltk==3.5
notebook==6.1.4
numpy==1.17.2
oauthlib==3.1.0
openapi-codec==1.3.2
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.4
pandas==0.25.1
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pgeocode==0.2.1
phonenumbers==8.12.9
pickleshare==0.7.5
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.0
PyInstaller==3.6
PyJWT==1.4.2
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.0.1
python-dateutil==2.8.0
python-decouple==3.3
pytorch-ignite==0.4.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.5.7
requests==2.24.0
requests-file==1.5.1
requests-mock==1.8.0
requests-oauthlib==1.3.0
rollbar==0.14.7
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.86
simplejson==3.17.2
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
spacy==2.2.4
sqlparse==0.3.1
srsly==1.0.2
tensorboard==2.1.1
tensorboardX==1.8
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.0
thinc-gpu-ops==0.0.4
tldextract==2.2.2
tokenizers==0.5.2
toml==0.10.1
torbot-PSN==1.3.3
torch==1.6.0
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.4
transformers==2.5.1
uritemplate==3.0.1
urllib3==1.25.10
uvloop==0.14.0
virtualenv==20.0.20
wasabi==0.6.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.15.6
wrapt==1.12.1
yapf==0.30.0
zipp==3.1.0
