{% load static %}
<!doctype html>
<html lang="en">
	{%  include 'base/head.html' %}
  <body>
    
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static '/assets/img/brand.png' %}" class="navbar-brand-img" alt="...">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>

          <!-- Navigation -->
          <ul class="navbar-nav ml-auto">
            
      <li class="nav-item dropdown">
              <a class="nav-link" id="navbarPages"  href="{% url 'home' %}" >
                Home
              </a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
              <a class="nav-link" id="navbarPages"  href="{% url 'dashboard' %}" >
                Dashboard
              </a>
            </li>
            
            {% endif %}

            {% if user.is_superuser %}

            <li class="nav-item dropdown">
              <a class="nav-link" id="navbarPages"  href="{%url 'admin_panel'%}" >
                Admin Dashboard
              </a>
            </li>
            
            {% endif %} 
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
				  Services
				</a>
				<div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
				  <div class="list-group list-group-flush">
					<a class="list-group-item" href="./docs/index.html">
  
					  <!-- Icon -->
					  <div class="icon icon-sm text-primary">
						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"/><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"/></g></svg>
					  </div>
  
					  <!-- Content -->
					  <div class="ml-4">
  
						<!-- Heading -->
						<h6 class="font-weight-bold text-uppercase text-primary mb-0">
						  Psychometric test
						</h6>
  
						<!-- Text -->
						<p class="font-size-sm text-gray-700 mb-0">
							Measure your suitability for a role
						</p>
  
					  </div>
  
					</a>
					<a class="list-group-item" href="./docs/alerts.html">
  
					  <!-- Icon -->
					  <div class="icon icon-sm text-primary">
						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="4" y="4" width="7" height="7" rx="1.5"/><path d="M5.5 13h4a1.5 1.5 0 011.5 1.5v4A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-4A1.5 1.5 0 015.5 13zm9-9h4A1.5 1.5 0 0120 5.5v4a1.5 1.5 0 01-1.5 1.5h-4A1.5 1.5 0 0113 9.5v-4A1.5 1.5 0 0114.5 4zm0 9h4a1.5 1.5 0 011.5 1.5v4a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-4a1.5 1.5 0 011.5-1.5z" fill="#335EEA" opacity=".3"/></g></svg>
					  </div>
  
					  <!-- Content -->
					  <div class="ml-4">
  
						<!-- Heading -->
						<h6 class="font-weight-bold text-uppercase text-primary mb-0">
						  E-Mentoring
						</h6>
  
						<!-- Text -->
						<p class="font-size-sm text-gray-700 mb-0">
						  Get expert advice
						</p>
  
					  </div>
  
					</a>
					<a class="list-group-item" href="./docs/changelog.html">
  
					  <!-- Icon -->
					  <div class="icon icon-sm text-primary">
						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
					  </div>
  
					  <!-- Content -->
					  <div class="ml-4">
  
						<!-- Heading -->
						<h6 class="font-weight-bold text-uppercase text-primary mb-0">
						  E-Jyothisham
						</h6>
  
						<!-- Text -->
						<p class="font-size-sm text-gray-700 mb-0">
						  Know your future
						</p>
  
					  </div>
  
					  <!-- <span class="badge badge-pill badge-primary-soft ml-auto">
						1.2.0
					  </span> -->
  
					</a>
				  </div>
				</div>
			  </li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
				  About
				</a>
				<div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
				  <div class="row no-gutters">
					<div class="col-12 col-lg-6">
					  <div class="dropdown-img-left" style="background-image: url(/assets/img/photos/photo-3.jpg);">
  
						<!-- Heading -->
						<h4 class="font-weight-bold text-white mb-0">
						  Want to see pricing details?
						</h4>
  
						<!-- Text -->
						<p class="font-size-sm text-white">
						  See all our plans.
						</p>
  
						<!-- Button -->
						<a href="{% url 'pricing' %}" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
						  Pricing
						</a>
  
					  </div>
					</div>
					<div class="col-12 col-lg-6">
					  <div class="dropdown-body">
						<div class="row no-gutters">
						  <div class="col-6">
  
							<!-- Heading -->
							<h6 class="dropdown-header">
							Connect
							</h6>
  
							<!-- List -->
							<a class="dropdown-item" href="./coworking.html">
							  About Us
							</a>
							<a class="dropdown-item" href="./rental.html">
							  Contact Us
							</a>
							<a class="dropdown-item mb-5" href="./job.html">
							  Technical Support
							</a>
  
							<!-- <h6 class="dropdown-header">
							  Apps
							</h6>
  
							<a class="dropdown-item" href="./desktop-app.html">
							  Desktop
							</a>
							<a class="dropdown-item" href="./mobile-app.html">
							  Mobile
							</a> -->
  
						  </div>
						  <!-- <div class="col-6">
  
							<h6 class="dropdown-header">
							  Web
							</h6>
  
							<a class="dropdown-item" href="./index.html">
							  Basic2
							</a>
							<a class="dropdown-item" href="./startup.html">
							  Startup <span class="h6 text-uppercase text-primary">(new)</span>
							</a>
							<a class="dropdown-item" href="./enterprise.html">
							  Enterprise
							</a>
							<a class="dropdown-item" href="./service.html">
							  Service
							</a>
							<a class="dropdown-item" href="./cloud.html">
							  Cloud Hosting
							</a>
							<a class="dropdown-item" href="./agency.html">
							  Agency
							</a>
  
						  </div> -->
						</div> <!-- / .row -->
					  </div>
					</div>
				  </div> <!-- / .row -->
				</div>
			  </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Account
			  </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
				{% if user.is_authenticated == False %}
                  <a class="dropdown-item" href="{% url 'login'%}">
                    Sign In
                  </a>
				{% endif %}
				{% if user.is_authenticated %}
				<li class="dropdown-item dropright">
					<a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
					  Settings <span class="h6 text-uppercase text-primary align-self-center ml-1 mb-0">(new)</span>
					</a>
					<div class="dropdown-menu">
					  <a class="dropdown-item" href="{% url 'profile' %}">
						Profile
					  </a>
					  <a class="dropdown-item" href="./account-security.html">
						Security
					  </a>
					  <a class="dropdown-item" href="./account-notifications.html">
						Notifications
					  </a>
					  <a class="dropdown-item" href="./billing-plans-and-payment.html">
						Plans & Payment
					  </a>
					</div>
				  </li>  
				  {% endif %}
                
                  <a class="dropdown-item" href="#">
                    Contact Support
                  </a>
               
              </ul>
            </li>

          </ul>

          {% if user.is_authenticated == False %}
          <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{% url 'register' %}">
            Sign Up
		  </a>
		  {% endif %}
		  {% if user.is_authenticated %}
          <a class="navbar-btn btn btn-sm btn-secondary lift ml-auto" href="{% url 'logout' %}">
            Logout
		  </a>
		  {% endif %}

        </div>

      </div>
    </nav>

    {% block content %}
	
			
			



    {% endblock %}
    <!-- FOOTER
    ================================================== -->
    <footer class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
        
            <!-- Brand -->
            <img src="{% static '/assets/img/brand.png' %}" alt="..." class="footer-brand img-fluid mb-2">

            <!-- Text -->
            <p class="text-gray-700 mb-2">
              A better way to build.
            </p>

            <!-- Social -->
            <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="{% static '/assets/img/icons/social/instagram.svg' %}" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="{% static '/assets/img/icons/social/facebook.svg' %}" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="{% static '/assets/img/icons/social/twitter.svg' %}" class="list-social-icon" alt="...">
                </a>
              </li>
            </ul>

          </div>
          <div class="col-6 col-md-4 col-lg-2">
        
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Services
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Psychometric Test
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Mentoring
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  E-Jyothisham
                </a>
              </li>
            </ul>

          </div>
          <!-- <div class="col-6 col-md-4 col-lg-2">
        
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Services
            </h6>

            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Documentation
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Changelog
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Pagebuilder
                </a>
              </li>
              <li>
                <a href="#!" class="text-reset">
                  UI Kit
                </a>
              </li>
            </ul>

          </div> -->
          <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Connect
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  About Us
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Contact Us
                </a>
              </li>
            </ul>

          </div>
          <div class="col-6 col-md-4 col-lg-2">
        
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Partner with us
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Become a mentor
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Requirements
                </a>
              </li>
            </ul>

          </div>
          <div class="col-6 col-md-4 col-lg-2">
        
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Legal
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Privacy Policy
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a href="#!" class="text-reset">
                  Refund Policy
                </a>
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>

	{%  include 'base/scripts.html' %}


      
  </body>
</html>