{% extends 'base/main.html' %}
{% load static %}
{% load filters %}
{% block content %}
   <!-- ARTICLES
    ================================================== -->
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          
          <!-- Badge -->
          

          <!-- Heading -->
          <h1>
           Our mentors
          </h1>

          <!-- Text -->
          <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          </p>

        </div>
      </div> <!-- / .row -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card mb-6 shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/sunil.jpg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Shri. Sunil D Kuruvilla
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Shri. Sunil D Kuruvilla is one of the prominent and well respected career guide & mentor in the state of Kerala. He is the founder director of Insight Mission, Mavelikkara. Shri.Sunil has more than 25 years of experience and 7500 programs & workshops to his credit worldwide in the areas of life skills, career guidance and counselling . He has guided more than 10000 people from different walks of life to excellence and fulfillment. With his rich experience in the corporate and educational sector, he is delivering his advisory consulting support to leading institutions in the field of education, health care and social sector. His clients include MNC's, universities, colleges, schools, government departments & youth organizations. His career guidance expertise is used by prominent educational institutions in India, Dubai, Bahrain and Saudi Arabia.
                  </p>
  
                </a>
                  
                <!-- Meta -->
            
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card mb-6 shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/ajith.jpg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Dr Ajith Sankar
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Dr Ajith is a well known Management Consultant, Career Skills Author, Teacher & Speaker in Kerala. He is having 20 years of experience in HR, Organizational Behaviour, Industrial Psychology and Career Mapping. He is presently the Director of CoX Solutions, curriculum committee member of Kerala Technological University and an Advisory consultant to Govt of Kerala Projects. He holds PhD in Human Resources Development & a University First Rank in social work with a gold medal from the University of Kerala.

Ajith’s absolute zeal for mentoring & training is evident through the magnanimous number of people he has trained (10000 and more) across the State encompassing many government departments, business organizations, B schools and Engineering Colleges. His creative instinct is obvious as he spreads his wings to pen down his experience and expertise as the leading columnist in the HR and Training domain across diverse weeklies and dailies in Kerala
                  </p>
  
                </a>
                  
               
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card mb-6 shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/sreekumaran.jpg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Mr Sreekumaran Nair R
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Life Member of Veda Vedanga Gaveshana Parishat, Trivandrum under the guidance of Dr Dharmaraja Iyer. Sreekumaran Nair has long 15 years of experience handling various projects of Astrology & it’s consultation. Astrological advisor to various temples in Trivandrum.
                  </p>
  
                </a>
                  
               
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/soby.jpeg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Ms.Soby Johnson
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Ms Soby Johnson is an established educational psychologist and counsellor. She is a global certified career counsellor (ULCA) with 20 years of experience in teaching and counselling. Ms.Soby holds post graduation in Psychology specialized in counselling & guidance. She is also a specialist in personal counselling & family therapy. 
 Her immense knowledge and experience has inspired thousands of students across India and she has been providing vocational, educational and personality workshops to students of leading schools around the country. She has also designed and conducted specific courses about career mentoring & goal setting.

                  </p>
  
                </a>
                  
               
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card mb-6 mb-md-0 shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/nidhin.jpg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Nidhin.V.R ( Manu  Thonnakkal)
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Nidhin VR (Manu Thonnakkal) has long 25 years of study & Research experience in Astology. He has been practicing Traditional Astrology for past 18 years. He is an contributor of various Astrology related groups.                  </p>
  
                </a>
                  
                <!-- Meta -->
            
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex">
              
              <!-- Card -->
              <div class="card shadow-light-lg lift lift-lg">
  
                <!-- Image -->
                <a class="card-img-top" href="#!">
  
                  <!-- Image -->
                  <img src="{% static 'assets/img/photos/radhakrishnan.jpg' %}" alt="..." class="card-img-top">
  
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                    </div>
                  </div>
  
                </a>
  
                <!-- Body -->
                <a class="card-body" href="#!">
  
                  <!-- Heading -->
                  <h3>
                    Dr. Radhakrishnan.P.Panicker, MA-PhD.
                  </h3>
  
                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    Dr Radhakrishnan P Panicker is MA-Ph.D in Astro and Sanskrit. He has 15 years of experience handling traditional astrology. He is active member of various Astrology groups and runs webinars/ online meetings on Astrology related subjects.
                  </p>
  
                </a>
                  
              
  
              </div>
              
            </div>
           
          </div> <!-- / .row -->
        </div> <!-- / .container -->
        <br><br>
      </section>
{% endblock content %}