{% extends 'base/main.html' %}
{% load static %}
{% block content %}
   <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md">
  
              <!-- Heading -->
              <h1 class="display-4 mb-2">
                Privacy Policy
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-gray-700 mb-md-0">
                Updated 27/05/2020
              </p>
  
            </div>
        
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12">
              
              <!-- Divider -->
              <hr class="my-6 my-md-8">
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12 col-md-8">
  
              <!-- Text -->
              <p class="font-size-lg text-gray-800 mb-6 mb-md-8">
                Please read our Privacy policy below
              
              <!-- Heading -->
              <h3 class="mb-5">
                SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
              </h3>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
              <!-- Text -->
              <p class="text-gray-800">
                When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
                </p>
                </div>

                <div class="d-flex">
                  
                    <!-- Badge -->
                    <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                      <i class="fe fe-check"></i>
                    </span>
      
                  <!-- Text -->
                  <p class="text-gray-800">
                    When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
                </p>
                    </div>

                    <div class="d-flex">
                  
                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                          <i class="fe fe-check"></i>
                        </span>
          
                      <!-- Text -->
                      <p class="text-gray-800">
                        Email marketing (if applicable): With your permission, we may send you emails about our platform, new products and other updates.
                    </p>
                        </div>
                        <h3 class="mb-5">
                            SECTION 2 - CONSENT
                          </h3>
              <!-- Text -->
              <p>
                How do you get my consent?
              </p>
  
              <!-- List -->
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
                </p>
  
              </div>
              <p>
                How do I withdraw my consent?
            </p>
  
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at: <b>bhaaviconsultants@gmail.com </b>or mailing us at: <b>Bhaavi Consultants, 1404, AWHO Chander Kunj, Silver Sand Island, Vytila, Kochi-682019</b>
                </p>
  
              </div>
              <h3 class="mb-5">
                SECTION 3 - DISCLOSURE
              </h3>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
                </p>
  
              </div>
              <h3 class="mb-5">
                SECTION 4 - PAYMENT
              </h3>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com
                </p>
  
              </div>
              <h3 class="mb-5">
                SECTION 5 - THIRD-PARTY SERVICES
              </h3>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
                </p>
  
              </div>
  
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
                </p>
  
              </div>
  
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. 
                </p>
  
              </div>
              <p>
                Links
              </p>
  
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
                </p>
  
              </div>
  
  
            
            
              <h3 class="mb-5">
                SECTION 6 - SECURITY
            </h3>
              <!-- List -->
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800 mb-6 mb-md-8">
                    To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
                </p>
  
              </div>
  
              <!-- Heading -->
              <h3 class="mb-5">
                SECTION 7 - COOKIES
            </h3>
            <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    We use cookies to maintain session of your user. It is not used to personally identify you on other websites.
                </p>
  
              </div>
              <!-- Heading -->
              <h3 class="mb-5">
                SECTION 8 - AGE OF CONSENT
            </h3>
              <!-- List -->
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                     By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                  </p>
  
              </div>
              <h3 class="mb-5">
                SECTION 9 - CHANGES TO THIS PRIVACY POLICY
            </h3>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                </p>
  
              </div>
              <div class="d-flex">
                  
                <!-- Badge -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>
  
                <!-- Text -->
                <p class="text-gray-800">
                    If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
                </p>
  
              </div>
  
            </div>
            <div class="col-12 col-md-4">
              
              <!-- Card -->
              <div class="card shadow-light-lg">
                <div class="card-body">
                  
                  <!-- Heading -->
                  <h4>
                    Have a question?
                  </h4>
  
                  <!-- Text -->
                  <p class="font-size-sm text-gray-800 mb-5">
                    If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer via email or by mail at Bhaavi Consultants, 1404, AWHO Chander Kunj, Silver Sand Island, Vytila, Kochi-682019
                </p>
  
                  
  
                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                    Email us
                  </h6>
  
                  <!-- Text -->
                  <p class="font-size-sm mb-0">
                    <a href="mailto:bhaaviconsultants@gmail.com" class="text-reset">bhaaviconsultants@gmail.com</a>
                  </p>
  
                </div>
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>
  
{% endblock content %}      