{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<div class="container-fluid">
   <div class="row">
       {% include 'admin/navbar.html' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
         <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
               <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
               <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
         </div>
         <h2>Schedules for {{requested_user.full_name}}</h2>
         <div class="card-body">
      <div class="col-sm-5 col-md-6">
         <div class="list-group list-group-flush">
            <div class="list-group-item">
               <div class="row align-items-center">
                  <div class="col auto">
                     <!-- Heading -->
                     <p class="mb-0">
                        Requested mentor type: <span class="badge badge-primary-soft">{{schedules.0.request.product.name}}</span>
                     </p>
                     <!-- Text -->
                    
                     <small class="text-gray-700">
                        {{schedules.0.request.timestamp}}
                     </small>
                  </div>
               </div>
            </div> 
            
               <div class="list-group list-group-flush">
                  {% for schedule in schedules %}
                  <div class="list-group-item d-flex align-items-center">
                        
                     <!-- Text -->
                     <div class="mr-auto">
                        
                        <!-- Heading -->
                        <p class="font-weight-bold mb-1">
                        {{schedule.mentor.user.full_name}} 
                        {% if schedule.accepted %}
                        <span class="badge badge-primary-soft">Scheduled</span>
                        {% endif %}
                        </p>
                        
                  
                        <!-- Text -->
                        <p class="font-size-sm text-muted mb-0">
                           Date:
                        <small class="text-gray-700">
                           {{schedule.slot}}
                        </small>
                        </p>
                  
                     </div>
                     {% if not schedule.accepted %}
                     <form action="{% url 'accept_call' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="schedule" value="{{ schedule.id }}" />
                          <input type="submit" id="confirmCall{{schedule.id }}" class="btn btn-xs btn-primary-soft" value="Assign schedule" />
                      </form>&nbsp;&nbsp;
                     <!-- Check -->
                    
                     <form action="{% url 'drop_schedule' schedule.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="col-12 md-12 btn btn-xs btn-rounded-circle btn-danger-soft">
                           <i class="fe fe-x"></i>
                         </button>
                        
                     </form>

                     {% endif %}

                     

                  </div>
                  
                  {% endfor %}

                  </div>
               

         </div>
         
        </div>
      </div>
       </div>
</div>
</main>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

{% endblock content %}