{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <!-- WELCOME
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-10 pb-md-15 bg-primary">

        <!-- Shape -->
        <div class="shape shape-blur-3 svg-shim text-white">
          <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
        </div>
  
        <!-- Content -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              
              <!-- Heading -->
              <h1 class="display-2 text-white">
                Complete payment for checkout
              </h1>
  
              <!-- Text -->
              <p class="lead text-white-80 mb-6 mb-md-8">
                All types of businesses need access to development resources, so we give you the option to decide how much you need to use.
              </p>
  
            
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>

       <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
          <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
        </div>
      </div>
      <!-- FORM
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              
              <!-- Heading -->
              <h2 class="font-weight-bold">
                Please complete the details below
              </h2>
  
              <!-- Text -->
              <p class="font-size-lg text-muted mb-7 mb-md-9">
                We always want to hear from you! Let us know how we can best help you and we'll do our very best.
              </p>
  
            </div>
          </div> <!-- / .row -->
          <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10">
              
              <!-- Form -->
              <form action="{% url 'payment' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-5">
                      
                      <!-- Label -->
                      <label for="contactName">
                        Full name
                      </label>
  
                      <!-- Input -->
                      <input type="text" class="form-control disabled" id="contactName" value="{{name}}" placeholder="Full name">
  
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-5">
                      
                      <!-- Label -->
                      <label for="contactEmail">
                        Email
                      </label>
  
                      <!-- Input -->
                      <input type="email" class="form-control disabled" id="contactEmail" value="{{email}}" placeholder="hello@domain.com">
  
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <label for="contactEmail">
                      Plan details
                    </label>
                  <div class="card shadow-lg">
                    <div class="card-body">
                  
                      <!-- Preheading -->
                      <div class="text-center mb-3">
                        <span class="badge badge-pill badge-primary-soft">
                          <span class="h6 text-uppercase">{{product.name}}</span>
                        </span>
                      </div>
                      <input type="hidden" name="product" value="{{product.id}}" />

                      <!-- Price -->
                      <div class="d-flex justify-content-center">
                        <span class="h2 mb-0 mt-2">₹</span>
                        <span class="price display-2 mb-0" data-annual="0" data-monthly="0">{{product.amount}}</span>
                      </div>
                      
                    </div>
                  </div>
                  </div>
                </div> <!-- / .row -->
                <br>

                <div class="row justify-content-center">
                  <div class="col-auto">
                    
                    <!-- Submit -->
                    <button type="submit" class="btn btn-primary lift">
                      Proceed to checkout
                    </button>
  
                  </div>
                </div> <!-- / .row -->
              </form>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>
  
          
              
    
  
{% endblock content %}