{% extends 'base/main.html' %}
{% block content %}

{% if user.is_authenticated %}
    <!-- HEADER
    ================================================== -->
    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
          <div class="row align-items-center">
            <div class="col">
  
              <!-- Heading -->
              <h1 class="font-weight-bold text-white mb-2">
                {{ user.full_name }}
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-white-75 mb-0">
                Welcome to Bhaavi dashboard.
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </header>
    <!-- MAIN
    ================================================== -->
   

{% endif %}

{% endblock content %}