{% extends 'base/main.html' %}
{% block content %}
{% load filters %}
{% load static %}
{% if user.is_authenticated %}
    <!-- HEADER
    ================================================== -->
    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
          <div class="row align-items-center">
            <div class="col">
  
              <!-- Heading -->
              <h1 class="font-weight-bold text-white mb-2">
                {{ user.full_name }}
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-white-75 mb-0">
                Welcome to Bhaavi dashboard.
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </header>

      <div id="confirm"  class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Confirm call schedule?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Once you accept the schedule, it cannot be changed.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="confirm" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-warning">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    <!-- MAIN
    ================================================== -->
    <main class="pb-8 pb-md-11 mt-md-n6">
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Card -->
            <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

              <!-- Collapse -->
              <div class="collapse d-md-block" id="sidenavCollapse">
                <div class="card-body">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase mb-3">
                    Dashboard
                  </h6>

                  <!-- List -->
                  <ul class="card-list list text-gray-700 mb-6">
                    <li class="list-item active">
                      <a class="list-link text-reset" href="account-general.html">
                        Services
                      </a>
                    </li>
                    
                  </ul>

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase mb-3">
                    Account
                  </h6>

                  <!-- List -->
                  <ul class="card-list list text-gray-700 mb-0">
                    <li class="list-item">
                      <a class="list-link text-reset" href="{% url 'profile' %}">
                        Profile
                      </a>
                    </li>
                    <li class="list-item">
                      <a class="list-link text-reset" href="#">
                        Payment history
                      </a>
                    </li>
                  </ul>

                </div>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-9">

            <!-- Card -->
            <div class="card card-bleed shadow-light-lg mb-6">
              
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush">
                  {% for product in products %}
                  {% with purchases|check_purchase_status:product.id as purchase %}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                          {{ product.name }} <i class="fe fe-info text-gray-500" data-toggle="tooltip" title="We use the the phone number you provide in General"></i>
                        </p>
                       

                        <!-- Text -->
                        <small class="text-gray-700">
                          {{ product.description }}
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        {% if product.call_required == False %}
                        
                        {% if purchase.product_id == product.id and purchase.status %}
                        <a href="{% url 'picset_pre' %}" class="btn btn-xs btn-outline-success" >Attend Test</a>
                        {% else %}
                        <form action="{% url 'plans' %}" method="GET">
                          {% csrf_token %}
                            <input type="submit" class="btn btn-xs btn-success-soft" value="Purchase" />
                        </form>
                       
                        {% endif %}
                        
                        {% else %}
                        {% with requests|check_request_status:product.id as requested %}
                        {% if purchase.product_id == product.id and purchase.status and requested == None %}
                        <form action="{% url 'request_details' %}" method="POST">
                          {% csrf_token %}
                            <input type="hidden" name="product" value="{{ product.id }}" />
                            <input type="hidden" name="user" value="{{ user.id }}" />
                           
                            <input type="submit" class="btn btn-xs btn-outline-white" value="Request" /><br>
                            
                        </form>
                            {% elif requested.responded and purchase.status and not requested.scheduled%}
                            <a href="#schedules" class="btn btn-xs btn-outline-info" >Available schedules</a>
                            {% elif not requested.responded and purchase.status  %}    
                            <a href="#" class="btn btn-xs btn-secondary-soft disabled" title="Please wait for the schedule from the mentor">Requested</a>
                            {% elif requested.responded and purchase.status and requested.scheduled %}   
                              {% with accepted_calls|get_schedule:requested.id as schedule %}
                              <form action="{% url 'call_details' %}" method="POST">
                                {% csrf_token %}
                                  <input type="hidden" name="schedule" value="{{ schedule.schedule_id }}" />
                                  <button type="submit" class="btn btn-xs btn-primary-soft" >Join call<br> ({{schedule.schedule.slot}}) </button>
                                  
                                </form>
                                
                              {% endwith %}
                            {% else %}
                        <form action="{% url 'plans' %}" method="GET">
                            <input type="submit" class="btn btn-xs btn-success-soft" value="Purchase" />
                        </form>
                        {% endif %}
                        {% endwith %}
                        {% endif %}


                      </div>
                    </div>
                  </div>
                  {% endwith %}
                  {% endfor %}
                </div>

              </div>
            </div>

            <!--Requested schedules-->
            {% if schedules %}
            <div class="card card-bleed shadow-light-lg" id="schedules">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                     Available schedules
                    </h4>

                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- start for -->
                {% for schedule in schedules %}
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <div class="icon">
                          <img src="{% static 'assets/img/icons/duotone-icons/Media/Rec.svg' %}"/>
                        </div>

                      </div>
                      <div class="col ml-n5">
                        
                        <!-- Heading -->
                        <p class="mb-0">
                            {{schedule.request.product.name}} 
                        </p>
                       
                        <!-- Text -->
                        Schedule time: 
                        <small class="text-gray-700">
                          {{schedule.slot}}
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <form action="{% url 'accept_call' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="schedule" value="{{ schedule.id }}" />
                            <input type="submit" id="confirmCall{{schedule.id }}" class="btn btn-xs btn-primary-soft" value="Accept" />
                        </form>
                      
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

                        <script>
                           $('#confirmCall{{schedule.id }}').on('click', function(e) {
                              var $form = $(this).closest('form');
                              e.preventDefault();
                              $('#confirm').modal({
                                  backdrop: 'static',
                                  keyboard: false
                              })
                              .on('click', '#confirm', function(e) {
                                  $form.trigger('submit');
                                });
                              $("#cancel").on('click',function(e){
                              e.preventDefault();
                              $('#confirm').modal.model('hide');
                              });
                            });
                        </script>
                      </div>
                    </div>
                  </div>

                </div>
                {% if not forloop.last %}
                <hr>
                {% endif %}
                <!-- End for -->
                {% endfor %}
              </div>
            </div>
             <br>
             <!-- Button trigger modal -->

            {% endif %}
           {% if results %}
            <!-- Test History -->
            <div class="card card-bleed shadow-light-lg">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                     Recent PICSET results
                    </h4>

                  </div>
                  <div class="col-auto">

                    <!-- 
                    <a class="small text-gray-700" href="#!">
                      View all
                    </a> -->

                  </div>
                </div>
              </div>
              <div class="card-body">
                {% for result in results %}
                <!-- List group -->
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <div class="icon icon-sm text-gray-400">
                          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"></path><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="10" y="9" width="7" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="9" width="2" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="13" width="2" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="10" y="13" width="7" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="17" width="2" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="10" y="17" width="7" height="2" rx="1"></rect></g></svg>                        </div>

                      </div>
                      <div class="col ml-n5">

                        <!-- Heading -->
                        <p class="mb-0">
                          PICSET RESULT - {{ result.attendee_name }}
                        </p>

                        <!-- Text -->
                        <small class="text-gray-700">
                          {{result.timestamp}}
                        </small>

                      </div>
                      <div class="col-auto">
                        <!-- Button -->
                        <a href="{% url 'picset_view' result.id %}" class="btn btn-xs btn-outline-info">
                          View
                        </a>

                      </div>
                    </div>
                  </div>

                </div>
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% endfor %}

              </div>
            </div>
            {% endif %}

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </main>


{% endif %}

{% endblock content %}