{% extends 'base/main.html' %}
{% block content %}
{% load filters %}
{% load static %}
{% if user.is_authenticated %}
    <!-- HEADER
    ================================================== -->
    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
          <div class="row align-items-center">
            <div class="col">
  
              <!-- Heading -->
              <h1 class="font-weight-bold text-white mb-2">
                {{ user.full_name }}
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-white-75 mb-0">
                Welcome to Bhaavi dashboard.
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </header>
    <!-- MAIN
    ================================================== -->
    <main class="pb-8 pb-md-11 mt-md-n6">
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Card -->
            <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

              <!-- Collapse -->
              <div class="collapse d-md-block" id="sidenavCollapse">
                <div class="card-body">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase mb-3">
                    Dashboard
                  </h6>

                  <!-- List -->
                  <ul class="card-list list text-gray-700 mb-6">
                    <li class="list-item active">
                      <a class="list-link text-reset" href="account-general.html">
                        Services
                      </a>
                    </li>
                    
                  </ul>

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase mb-3">
                    Account
                  </h6>

                  <!-- List -->
                  <ul class="card-list list text-gray-700 mb-0">
                    <li class="list-item">
                      <a class="list-link text-reset" href="account-security.html">
                        Security
                      </a>
                    </li>
                    <li class="list-item">
                      <a class="list-link text-reset" href="account-notifications.html">
                        Notifications
                      </a>
                    </li>
                    <li class="list-item">
                      <a class="list-link text-reset" href="{% url 'pricing'%}">
                        Upgrade plan 
                      </a>
                    </li>
                    <li class="list-item">
                      <a class="list-link text-reset" href="billing-users.html">
                        Payment history
                      </a>
                    </li>
                  </ul>

                </div>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-9">

            <!-- Card -->
            <div class="card card-bleed shadow-light-lg mb-6">
              
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush">
                  {% for product in products %}
                  {% with purchases|check_purchase_status:product.id as purchase %}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                          {{ product.name }} <i class="fe fe-info text-gray-500" data-toggle="tooltip" title="We use the the phone number you provide in General"></i>
                        </p>
                       

                        <!-- Text -->
                        <small class="text-gray-700">
                          {{ product.description }}
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        {% if product.id == 1 %}
                        
                        {% if purchase.product_id == product.id and purchase.status %}
                        <form action="{% url 'plans' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="user" value="{{ user.id }}" />
                          <input type="submit" class="btn btn-xs btn-outline-success" value="Attend Test" />
                        </form>
                        {% else %}
                        <form action="{% url 'plans' %}" method="GET">
                          {% csrf_token %}
                            <input type="submit" class="btn btn-xs btn-success-soft" value="Purchase" />
                        </form>
                       
                        {% endif %}
                        
                        {% else %}
                        {% with requests|check_request_status:product.id as requested %}
                        {% if purchase.product_id == product.id and purchase.status and requested == None %}
                        <form action="{% url 'mentor_request' %}" method="POST">
                          {% csrf_token %}
                            <input type="hidden" name="product" value="{{ product.id }}" />
                            <input type="hidden" name="user" value="{{ user.id }}" />
                            <input type="submit" class="btn btn-xs btn-outline-white" value="Request" />
                        </form>
                            {% elif requested.responded and purchase.status and not requested.scheduled%}
                            <a href="#schedules" class="btn btn-xs btn-outline-info" >Available schedules</a>
                            {% elif not requested.responded and purchase.status  %}    
                            <a href="#" class="btn btn-xs btn-secondary-soft disabled" title="Please wait for the schedule from the mentor">Requested</a>
                            {% elif requested.responded and purchase.status and requested.scheduled %}   
                              {% with accepted_calls|get_schedule:requested.id as schedule %}
                              <form action="{% url 'call_details' %}" method="POST">
                                {% csrf_token %}
                                  <input type="hidden" name="schedule" value="{{ schedule.schedule_id }}" />
                                  <button type="submit" class="btn btn-xs btn-primary-soft" >Scheduled for: {{schedule.schedule.slot}}</button>
                                </form>
                              {% endwith %}
                            {% else %}
                        <form action="{% url 'plans' %}" method="GET">
                          {% csrf_token %}
                          <input type="hidden" name="user" value="{{ user.id }}" />
                          <input type="hidden" name="product" value="{{ product.id }}" />
                            <input type="submit" class="btn btn-xs btn-success-soft" value="Purchase" />
                        </form>
                        {% endif %}
                        {% endwith %}
                        {% endif %}


                      </div>
                    </div>
                  </div>
                  {% endwith %}
                  {% endfor %}
                </div>

              </div>
            </div>

            <!--Requested schedules-->
            {% if schedules %}
            <div class="card card-bleed shadow-light-lg" id="schedules">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                     Available schedules
                    </h4>

                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- start for -->
                {% for schedule in schedules %}
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <div class="icon">
                          <img src="{% static 'assets/img/icons/duotone-icons/Media/Rec.svg' %}"/>
                        </div>

                      </div>
                      <div class="col ml-n5">
                        
                        <!-- Heading -->
                        <p class="mb-0">
                            {{schedule.request.product.name}} 
                        </p>
                       
                        <!-- Text -->
                        Schedule time: 
                        <small class="text-gray-700">
                          {{schedule.slot}}
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <form action="{% url 'accept_call' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="schedule" value="{{ schedule.id }}" />
                            <input type="submit" class="btn btn-xs btn-primary-soft" value="Accept" />
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
                {% if not forloop.last %}
                <hr>
                {% endif %}
                <!-- End for -->
                {% endfor %}
              </div>
            </div>
             <br>
             <!-- Button trigger modal -->

            {% endif %}
           
            <!-- Test History -->
            <div class="card card-bleed shadow-light-lg">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                     Recent test results
                    </h4>

                  </div>
                  <div class="col-auto">

                    <!-- Link -->
                    <a class="small text-gray-700" href="#!">
                      View all
                    </a>

                  </div>
                </div>
              </div>
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <div class="icon icon-sm text-gray-400">
                          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 2.5c-.69 0-1.25.56-1.25 1.25v16.5c0 .69.56 1.25 1.25 1.25h8c.69 0 1.25-.56 1.25-1.25V3.75c0-.69-.56-1.25-1.25-1.25H8z" fill="#335EEA" opacity=".3"/><path d="M8 2.5c-.69 0-1.25.56-1.25 1.25v16.5c0 .69.56 1.25 1.25 1.25h8c.69 0 1.25-.56 1.25-1.25V3.75c0-.69-.56-1.25-1.25-1.25H8zM8 1h8a2.75 2.75 0 012.75 2.75v16.5A2.75 2.75 0 0116 23H8a2.75 2.75 0 01-2.75-2.75V3.75A2.75 2.75 0 018 1zm1.5.75h5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5z" fill="#335EEA"/></g></svg>
                        </div>

                      </div>
                      <div class="col ml-n5">

                        <!-- Heading -->
                        <p class="mb-0">
                          Title
                        </p>

                        <!-- Text -->
                        <small class="text-gray-700">
                          April 20 at 4:16PM
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-xs btn-outline-white">
                          Download
                        </button>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </main>

   

{% endif %}

{% endblock content %}