{% extends 'base/main.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <!-- HEADER
        ================================================== -->
        <header class="bg-dark pt-9 pb-11 d-none d-md-block">
            <div class="container-md">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <h1 class="font-weight-bold text-white mb-2">
                            {{ user.full_name }}
                        </h1>

                        <!-- Text -->
                        <p class="font-size-lg text-white-75 mb-0">
                            Welcome to Bhaavi, your payment history.
                        </p>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </header>
        <!-- MAIN
        ================================================== -->
        <main class="pb-8 pb-md-11 mt-md-n6">
            <div class="container-md">
                <div class="row">

                    <div class="col-12 col-md-12">

                        <!-- Card -->
                        <div class="card card-bleed shadow-light-lg mb-6">
                            <div class="card-header">

                                <!-- Heading -->
                                <h4 class="mb-0">
                                    Payment history
                                </h4>

                            </div>
                            <div class="card-body">
                                {% if payments != 'None' %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Transaction id</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Invoice</th>
                                        <th scope="col">Payment Date/TIme</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payments %}
                                        <tr>
                                        <th scope="row">{{ payment.id }}</th>
                                        <td>{{ payment.purchase.product.name }}</td>
                                        <td>{{ payment.purchase.product.active_discount }}</td>
                                        <td>{{ payment.purchase.invoice }}</td>
                                        <td>{{ payment.payment_date }}</td>
                                    </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                                {% endif %}
                            {% else %}
                            <h1>You have not purchased any product yet</h1>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-12 col-md-4"></div>


                </div>

                <!-- Text -->
                <!-- <p class="text-center mb-0">
                  <small class="text-muted">If you no longer want to use Bhaavi, you can <a class="text-danger" href="#!">delete your account</a>.</small>
                </p> -->

            </div>
            </div> <!-- / .row -->
            </div> <!-- / .container -->
        </main>


    {% endif %}

{% endblock content %}