{% extends 'base/main.html' %}
{% block content %}

{% if user.is_authenticated %}
    <!-- HEADER
    ================================================== -->
    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
          <div class="row align-items-center">
            <div class="col">
  
              <!-- Heading -->
              <h1 class="font-weight-bold text-white mb-2">
                Welcome {{ user.full_name }}
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-white-75 mb-0">
                Complete your profile
              </p>
  
            </div>
            <div class="col-auto">
  
              <!-- Button -->
              <button class="btn btn-sm btn-gray-300-20">
                Log Out
              </button>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </header>
    <!-- MAIN
    ================================================== -->
    <main class="pb-8 pb-md-11 mt-md-n6">
        <div class="container-md">
          <div class="row">

            <div class="col-12 col-md-12">
  
              <!-- Card -->
              <div class="card card-bleed shadow-light-lg mb-6">
                <div class="card-header">
  
                  <!-- Heading -->
                  <h4 class="mb-0">
                    Basic Information
                  </h4>
  
                </div>
                <div class="card-body">
  
                  <!-- Form -->
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-6">
  
                        <!-- Name -->
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input class="form-control" id="name" name="full_name" type="text" placeholder="Full name" value="{{ user.full_name }}">
                        </div>
  
                      </div>
                      <div class="col-12 col-md-6">
  
                        <!-- Email -->
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input class="form-control" id="email" type="email" placeholder="name@address.com" value="{{ user.email }}" disabled>
                        </div>
  
                      </div>
                      <div class="col-12">
  
                        <!-- Bio -->
                        <div class="form-group">
                          <label>Bio</label>
                          <div data-quill='{"placeholder": "Quill WYSIWYG"}'></div>
                        </div>
  
                      </div>
                      <div class="col-12 col-md-auto">
  
                        <!-- Button -->
                        <button class="btn btn-block btn-primary" type="submit">
                          Save changes
                        </button>
  
                      </div>
                    </div>
                  </form>
  
                </div>
              </div>
  
              <!-- Card -->
              <div class="card card-bleed shadow-light-lg mb-6">
                <div class="card-header">
  
                  <!-- Heading -->
                  <h4 class="mb-0">
                    Your media
                  </h4>
  
                </div>
                <div class="card-body">
  
                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto">
  
                          <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg" alt="...">
                          </div>
  
                        </div>
                        <div class="col ml-n5">
  
                          <!-- Heading -->
                          <p class="mb-0">
                            Your avatar
                          </p>
  
                          <!-- Text -->
                          <small class="text-gray-700">
                            PNG or JPG no larger than 1000px
                          </small>
  
  
                        </div>
                        <div class="col-12 col-md-auto">
  
                          <!-- Button -->
                          <button class="btn btn-xs btn-block btn-primary mt-5 mt-md-0">
                            Upload
                          </button>
  
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item">
  
                      <!-- Heading -->
                      <p class="mb-0">
                        Profile cover
                      </p>
  
                      <!-- Text -->
                      <p class="small text-gray-700">
                        PNG or JPG at 16:9 ratio no larger than 2MB
                      </p>
  
                      <!-- Dropzone -->
                      <div class="dropzone dropzone-single" data-dropzone='{"url": "https://", "maxFiles": 1, "acceptedFiles": "image/*"}'>
  
                        <!-- Fallback -->
                        <div class="fallback">
                          <div class="custom-file">
                            <input class="custom-file-input" id="projectCoverUploads" type="file">
                            <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
                          </div>
                        </div>
  
                        <!-- Preview -->
                        <div class="dz-preview dz-preview-single">
                          <div class="dz-preview-cover">
                            <img class="dz-preview-img" data-dz-thumbnail src="data:image/svg+xml,%3csvg3c/svg%3e" alt="...">
                          </div>
                        </div>
  
                      </div>
  
                    </div>
                  </div>
  
                </div>
              </div>
  
              <!-- Card -->
              <div class="card card-bleed shadow-light-lg mb-8">
                <div class="card-header">
  
                  <!-- Title -->
                  <h4 class="mb-0">
                    Privacy
                  </h4>
  
                </div>
                <div class="card-body">
  
                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col">
  
                          <!-- Heading -->
                          <p class="mb-0">
                            Public Profile
                          </p>
  
                          <!-- Text -->
                          <small class="text-gray-700">
                            Making your profile public means anyone can see your information.
                          </small>
  
                        </div>
                        <div class="col-auto">
  
                          <!-- Switch -->
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switchOne" checked>
                            <label class="custom-control-label" for="switchOne"></label>
                          </div>
  
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col">
  
                          <!-- Heading -->
                          <p class="mb-0">
                            Expose your email
                          </p>
  
                          <!-- Text -->
                          <small class="text-gray-700">
                            This lets users find you by your email address.
                          </small>
  
                        </div>
                        <div class="col-auto">
  
                          <!-- Switch -->
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switchTwo" checked>
                            <label class="custom-control-label" for="switchTwo"></label>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <!-- Text -->
              <p class="text-center mb-0">
                <small class="text-muted">If you no longer want to use Landkit, you can <a class="text-danger" href="#!">delete your account</a>.</small>
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </main>


{% endif %}

{% endblock content %}