{% extends 'base/main.html' %}
{% block content %}
    {% load filters %}
    {% load static %}
    {% if user.is_authenticated %}

        <!-- CONTENT
        ================================================== -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>

        <section>

            <!-- Content -->
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-between no-gutters min-vh-100">
                    <div class="col-12 col-md-5 align-self-stretch">

                        <!-- Image (mobile) -->

                        <!-- Image -->

                    </div>
                    <div class="col-12 col-md-12 py-8 py-md-11">

                        <!-- Heading -->
                        <h2 class="font-weight-bold text-center mb-2">
                            Please fill the report form.
                        </h2>

                        <!-- Text -->
                        <p class="font-size-lg text-center text-muted mb-0">
                            Please submit the form for completing the call. You can also complete this later from
                            dashboard.
                        </p>

                        <!-- Divider -->
                        <hr class="hr-sm my-6 my-md-8 border-gray-300">

                        <!-- Form -->


                        <div class="card card-bleed shadow-light-lg mb-6">

                            <div class="card-body">
                                <p class="font-size-lg text-center mb-0">
                                    Mentoring Report
                                </p>
                                <div class="form-group mb-5">

                                    <!-- Label -->
                                    <label for="contactName">
                                        Name of person

                                    </label>
                                    <input type="text" class="form-control"
                                           value={{ user.full_name }} id="contactName" placeholder="Your Name"
                                           disabled>
                                    <!-- Input -->

                                    {#                                        <label>#}
                                    {#                                            Mentor call request#}
                                    {#                                            <input type="text" class="form-control" name="callRequest"#}
                                    {#                                                   value={{ mentor_call_request }} id="contactName"#}
                                    {#                                                   >#}
                                    {#                                        </label>#}

                                </div>
                                <form action="{% url 'submit_career_report' mentor_call_request %}" method="POST"
                                      enctype="multipart/form-data">
                                    <div class="form-group mb-5">

                                        <!-- Label -->
                                        <label for="contactName">
                                            FileUpload
                                        </label>
                                        <input type="file" name="pdf" class="form-control"
                                               id="exampleFormControlTextarea1">

                                    </div>

                                    <button type="submit" class="btn btn-block btn-success lift">
                                        Submit final report
                                    </button>
                                    {#     <input type="hidden" name="schedule" value="{{ schedule }}" />#}
                                    {% csrf_token %}
                                </form>

                            </div>
                        </div> <!-- / .row -->
                    </div>
        </section>

    {% endif %}
{% endblock content %}